h1 {
  
   width: 50%;
   margin-top: 10%;
   margin-left: 43%;
  
   
}
.topmarg{
    display: flex;
    flex-direction: column;
}
.flextop {
display: flex;
justify-content: space-between;
align-items: center;
}
 .searchbar {
    display: flex;
    flex-direction: row;
    height: 70px;
}

.microphone
    {
        margin-right: 100%;
        margin-top: 1%;
        width: 10px;
        height: 20px;
        margin-bottom: 10%;

    }
.top1 {
    margin-left: 15px;
    padding: 10px;

}
.appsimage {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}
.search-button{
    margin-left: 32%;
    margin-top: 0%;
    margin-right: 10%;
    width: 400px;
    height: 50px;
    border-radius: 25px;
    padding: 0px;
    border-width: thin;
    border-color: transparent;

  
}
.google-button{
    margin-left: 43%;
    font-family: arial,sans-serif;
    border: #ffffff;
    background-color:#ffffff;
    background: transparent;    
   
    
}
.im-feeling-lucky {
    margin-left: 0%;
    font-family: arial,sans-serif;
    border: #ffffff;
    height: 30px;
    background-color:#ffffff;
    
}
.text{
    margin-top: 1%;
    margin-left: 1%;

}
.text-two{
    margin-left: 5%;
    text-indent: 25%;
  
}
    
.text-three
        {
    margin-left: 0%;
    margin-top: 35%;
}
.footer{
    position: fixed;
    background-color: #f2f2f236;
    bottom: 0;
  
    
}
.searchicon{
        width: 20px;
        height: 20px;
        margin-left: 20px;
}
.box
{
    box-sizing: border-box;
    margin-bottom: 27%;
}


.flex-container{
display: flex;
justify-content: space-between; 


 
    

}
.flex-item1 {


}

.flex-item2 {
min-width: 15%;
}
   



.flex-item3 {


}