h1 {
  
   width: 50%;
   margin-top: 10%;
   margin-left: 43%;
  
   
}
.search-button{
    margin-left: 26%;
    margin-top: 0%;
    margin-right: 10%;
    width: 600px;
    height: 50px;
    border-radius: 25px;
    padding: 0px;
    border-width: thin;
    border-color: #313131;

  
}
.google-button{
    margin-left: 43%;
    font-family: arial,sans-serif;
    border: #ffffff;
    background-color:#grey;
    background: transparent;    
   
    
}
.im-feeling-lucky {
    margin-left: 0%;
    font-family: arial,sans-serif;
    border: #ffffff;
    height: 30px;
    background-color:#grey;
    
}
.text{
    margin-top: 1%;
    margin-left: 1%;

}
.text-two{
    margin-left: 5%;
    text-indent: 25%;
  
}
    
.text-three
        {
    margin-left: 0%;
    margin-top: 35%;
}
.footer{
    position: fixed;
    background-color: #f2f2f236;
    bottom: 0;
  
    
}

.box
{
    box-sizing: border-box;
    margin-bottom: 28%;
}
.flex-container{

    display: flex;

    justify-content: space-between; 


 
    


}
.flex-item1 {


}

.flex-item2 {
min-width: 15%;
}
   



.flex-item3 {



}