h1 {
  
   width: 50%;
   margin-top: 10%;
   margin-left: 43%;
  
   
}
.bodym {
    margin: 0;

}
.topmarg{
    display: flex;
    flex-direction: column;
}
.flextop {
display: flex;
justify-content: space-between;
align-items: center;
}
 .searchbar {

    display: flex;
    height: 70px;
    justify-content: center;
    margin-left: 35%;
    margin-top: 2%;

}

.microphone
    {
        margin-right: 95%;
        margin-top: 1%;
        width: 30px;
        height: 20px;
        margin-bottom: 10%;

    }
.top1 {
    margin-left: 15px;
    padding-top: 18px;
    padding-left: 10px;

}
.appsimage {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 20px;
    margin-right: 10px;

}
.usericon {
    margin-right: 15px;
    height: 30px;
    width: 20px;
    margin-left: 15px;
    padding-top:10px;
}
.search-button{

    margin-right:   0%;
    width: 500px;
    height: 30px;
    border-radius: 25px;
    padding: 0px;
    border-width: thin;
    border-color: transparent;
    margin: 0%;

  
}
.borderbutton {
    width: 600px;
    height: 50px;
    margin-left: 32%;
    background-color: #ffffff;
    border-radius: 30px 30px 30px 30px;
    border-width: 1px;
    border-color: rgb(179, 175, 175);
}
.google-button{
    
    margin-left: 43%;
    font-family: arial,sans-serif;
    border: 1px solid #ffffff;
    background-color:#f0f0f0;
    height: 30px;
    border-radius: 4px; 
    margin-top: 30px;
   
    
}
.im-feeling-lucky {
    margin-left: 0%;
    font-family: arial,sans-serif;
    border: 1px solid #ffffff;
    height: 30px;
    background-color:#f0f0f0;
    border-radius: 4px;
  
    
}
.text{
    margin-top: 1%;
    margin-left: 1%;

}
.text-two{
    margin-left: 5%;
    text-indent: 25%;
  
}
    
.text-three
        {
    margin-left: 0%;
    margin-top: 35%;
}
.footer{
    position: fixed;
    background-color: #f2f2f236;
    bottom: 0;
  
    
}
.searchicon{
        width: 20px;
        height: 20px;
        margin-left: 35%;
        margin-top: 3px;
        

      
}
.box
{
    box-sizing: border-box;
    margin-bottom: 26%;
}


.flex-container{
display: flex;
justify-content: space-between; 
background-color: #f0f0f0;
position: sticky;




 
    

}
.searchcontainer{
    position: relative;
    width: 600px;
    
}
.padding {
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    height: 30px;
    background-color: #f0f0f0;

}
 
.store {
    margin-right: 78%;
    margin-top: 18px;
}